/*CSS Reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/*universal selector styles*/
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border: 1px solid grey; */
}
/*General Styles*/
html{
    font-size:62.5%; /* 16px */
}
body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f; /*accessibility*/
    font-family: 'Roboto Mono', monospace;
}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size:5rem;
}
section{
    padding: 4% 0;
    width:90%;
    margin:0 auto; /* to center everything */
}
a{
    text-decoration:none;
}
/*Section by Section Styles*/

/*Header Section Styles*/
nav{
    padding: 2% 0;
}
nav a{
    display:inline-block;
    padding: 1% 0; /* tb lr */
    width:10%;
    border-radius:10px;
    text-align: center;
    color:#fff;
}
/* classes for the nav*/
.orange{
    background-color:#FF764E;
    margin-left:10%;
}
.blue{
    background-color:#5ED3EB ;
    margin: 0 24%;
}
.yellow{
    background-color: #FFCD69;
    margin-right:10%;
}
/*top section style */
.top{
    position:relative;
}
.left, .right{
    display:inline-block;
}
.left{
    width:30%;
}
.left img {
    border-radius:50%;
}
.right{
    width:55%;
    position:absolute;
    margin-left:5%;
    text-align:center;
    line-height: 3;
    top:150px;
}
/* middle section styles */
.middle{
    background-color:#DDB9A3;
    color:white;
    padding:2%;
}
/*last section styles*/
.last div{
    width:30%;
    margin:5% auto;
}
.bold{
    font-weight:bold;
}
/* Image section style */
.empty{
    background-image: url("assets/footer_img.jpg");
    height: 50vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top center;
    width:100%;
}
/* footer section style */

footer{
    background-color:#F9E7DC;
}